.page-wraper{
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 375px;
    background-color: hsla(0, 0%, 100%, 0.75);
}
h2{
    font-family: Arial, Helvetica, sans-serif ;
}
.col1{
    width: 300px;
    background-color: #f4822a;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.col2{
    background-color: rgb(17, 141, 152);
    padding-left: 25px;
    padding-top: 5px;
    padding-right: 25px;
    padding-bottom: 5px;
}
.col3{
    background-color: rgb(2, 74, 57);
    padding-left: 25px;
    padding-top: 5px;
    padding-right: 25px;
    padding-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
button{
    border: none;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: #f4822a;
}
.col2 button{
    color: rgb(17, 141, 152);
    background-color: hsl(0, 0%, 95%);
}
.col3 button{
    color: rgb(2, 74, 57);
    background-color: hsl(0, 0%, 95%);
} 
